header, main, footer {
    width: 80%;
    margin: auto;
}
ol{
    line-height: 150%;
}
ul{
    line-height: 150%;
    font-size: 120%;
    font-weight: bold;
}
.img1{
    padding: 10px;
    background-color: rgb(74, 71, 220);
}
footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blueviolet;
    font-size: larger;
    color: white;
}