header, main, footer {
    margin: auto;
}
ol{
    line-height: 150%;
}
ul{
    line-height: 150%;
    font-size: 120%;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: flex-end;
    justify-content: space-between;
    background-size: 100%;
    background-color: bisque;
}
li{
    list-style-type: none;
}
.img1{
    padding: 10px;
    background-color: rgb(74, 71, 220);
}
footer{
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: blueviolet;
    font-size: larger;
    color: white;
}
a:active{ text-decoration: none; }
a:link{ text-decoration: none; }
a:visited{ text-decoration: none; color: #000; }
a:hover{ text-decoration: none; }
main{
    margin-bottom: 10px;
}
ol{
    max-width: 140px;
    background-color: rgb(41, 38, 61);
}
.komp{
    margin: 30px;
    color: blanchedalmond;
}
.img2{
    text-align:left;
}
.imgs{
    margin: 0px;
}
form{
    flex-direction: column;
}
figure{
    margin: 0px;
}